@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

@font-face {
  font-family: 'hackspree_body';
  /*src: url(./../fonts/conradi_square.ttf);
   */
}

body{
  /*font-family: 'hackspree_body', "Bangers";
   */
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 120%; 
}
